@{
	ViewData["Title"] = "Software";
}

<div class="content">
    Examples of my code are on <a href="https://github.com/paulelling">GitHub</a>.
    <br />
    <br />
    <br />

    <a href="https://github.com/paulelling/machineprograms/tree/master">Machine Programs React App</a>
    <br />
	This React app is for practicing full-stack development aspects, such as calling a RESTful Java API, accessing a database, and using the React library.
    <br />
    <br />

    <a href="https://github.com/paulelling/Java/tree/master/MachineProgramsAPI">Java API</a>
    <br />
	I wrote a RESTful API in Java using Spring Boot.
    <br />
    <br />

    <a href="https://github.com/paulelling/JavaScript/tree/master/Library">JavaScript Library</a>
    <br />
    Early in my career, I wrote several JavaScript scripts that can be reused in different Web applications.
    <br />
    <br />

    <a href="https://github.com/paulelling/SQL" target="_blank">SQL Examples</a>
    <br />
    I have done extensive database development in my career and have spent a lot of time learning SQL.
    <br />
    <br />

    <a href="https://github.com/paulelling/Java/tree/master/CSUPets" target="_blank">Java Design Patterns</a>
    <br />
    Several years ago, I took a class on design patterns in Java and this project implemented some of those design patterns.
    <br />
    <br />

    <a href="https://github.com/paulelling/ASP.NET/tree/master/PIM2" target="_blank">ASP.NET Forms Financial Application</a>
    <br />
    I wrote a financial application with a budget in ASP.NET Web Forms and used it for several years.
    <br />
    <br />

    <a href="https://github.com/paulelling/Android" target="_blank">Android Stock Porfolio App</a>
    <br />
    I took a mobile application development class years ago and developed an Android app.
    <br />
    <br />

    <a href="https://github.com/paulelling/VRML/blob/master/room.wrl" target="_blank">VRML Room</a>
    <br />
    VRML (Virtual Reality Modelling Language) was a way, during the early days of the Web, to display three-dimensional objects.
    <br />
    <br />

    <a asp-area="" asp-controller="Software" asp-action="Resources">Resources</a>
    <br />
    Here are some helpful software engineering resources.
    <br />
    <br />
</div>
