@{
	ViewData["Title"] = "Software";
}

<div class="content">
    Software Engineering Resources
    <br />
    <br />

    <a href="https://stackoverflow.com/">Stack Overflow</a>
    <br />
    <br />

    <a href="https://sdtimes.com/">Software Development Times</a>
    <br />
    <br />

    <a href="https://www.infoworld.com/category/application-development/">InfoWorld</a>
    <br />
    <br />

    <a href="https://techxplore.com/software-news/">Tech Xplore</a>
    <br />
    <br />

    <a href="https://www.wired.com/tag/developers/">Wired</a>
    <br />
    <br />

    <a href="https://softwareengineeringdaily.com/">Software Engineering Daily</a>
    <br />
    <br />

    <a href="https://thenewstack.io/software-development/">The New Stack</a>
	<br />
	<br />
</div>
