@{
    ViewData["Title"] = "Drawing";
}

<script>
    function changePicture(picture) {
        document.getElementById("modalPicture").src = picture;
    }
</script>

<div class="content">
    When I was in junior high school and middle school, I used to draw pictures from magazines.  I have started drawing sketches again.
    <br />
    <br />
    <br />

    Here is my sketch of a car driving.  It's the first drawing that I've done in over 30 years.
    <br />
    <br />

    
    <img src="~/repository/CarDrawing.jpg" class="pictures" data-toggle="modal" data-target="#stemModal"
         onclick="changePicture(this.src)" />
</div>

<div class="modal fade" id="stemModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    <img id="modalPicture" class="modalPictures" />
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
