@{
	ViewData["Title"] = "About";
}

<div class="content">
   Machine Programs is dedicated to providing utility software, meaning the software provides functionality needed for everyday tasks.
</div>
