@{
	ViewData["Title"] = "About";
}

<div class="content">
    Here is some information about me.
    <br />
    <br />
    <br />

    <a href="https://www.linkedin.com/in/paul-elling-85024424a/">LinkedIn</a>
    <br />
    My resume is available here.
    <br />
    <br />

    <a href="~/repository/Developer_Story_Paul_Elling.pdf">Developer Story</a>
    <br />
    Details of my career beyond my resume are available here.
    <br />
    <br />
</div>
