@{
	ViewData["Title"] = "About";
}

<div class="content">
    Here is some information about me.
    <br />
    <br />
    <br />

    <a href="https://www.linkedin.com/in/paul-elling-85024424a/">LinkedIn</a>
    <br />
    My resume is available here.
    <br />
    <br />

    <a href="~/repository/Developer_Story_Paul_Elling.pdf">Developer Story</a>
    <br />
    Details of my career beyond my resume are available here.
    <br />
    <br />

    <a href="https://substack.com/@@paulelling">Substack</a>
    <br />
    My blog is available here.
    <br />
	<br />

    <a asp-area="" asp-controller="Writing" asp-action="Essays">Writing</a>
    <br />
    In high school and college, I took essay-writing seriously, which has helped me analyze code in my career as a developer.
    <br />
    <br />

    <a asp-area="" asp-controller="Drawing" asp-action="Sketches">Drawing</a>
    <br />
    I used to like to draw pictures in junior high school and middle school.
    <br />
    <br />
</div>
