@{
	ViewData["Title"] = "STEM";
}

<div class="content">
    STEM Resources
    <br />
    <br />

    <img id="AIResourcesIcon" src="~/repository/PlusIcon.jpg" class="plusMinusIconShow" height="20" width="20" 
        onclick="plusMinusIconClick('AIResourcesIcon', 'AIResourcesIconAlt', 'AIResources')" />
    <img id="AIResourcesIconAlt" src="~/repository/MinusIcon.jpg" class="plusMinusIconHide" height="20" width="20"
        onclick="plusMinusIconClick('AIResourcesIcon', 'AIResourcesIconAlt', 'AIResources')" />
    &nbsp;
    Artificial Intelligence
    <br />
    <br />

    <div id="AIResources" class="resourcesHide">
        <a href="https://chat.openai.com/">ChatGPT</a>
        <br />
        <br />

        <a href="https://news.mit.edu/topic/artificial-intelligence2">MIT</a>
        <br />
        <br />

        <a href="https://www.wired.com/tag/artificial-intelligence/">Wired</a>
        <br />
        <br />

        <a href="https://www.youtube.com/channel/UCI8gyUx7NAVDYILLPBrExMA">YouTube</a>
        <br />
        <br />

        <a href="https://www.sciencedaily.com/news/computers_math/artificial_intelligence/">Science Daily</a>
        <br />
        <br />

        <a href="https://www.technologyreview.com/topic/artificial-intelligence">MIT Technology Review</a>
    </div>
    <br />

    <img id="RoboticsResourcesIcon" src="~/repository/PlusIcon.jpg" class="plusMinusIconShow" height="20" width="20"
         onclick="plusMinusIconClick('RoboticsResourcesIcon', 'RoboticsResourcesIconAlt', 'RoboticsResources')" />
    <img id="RoboticsResourcesIconAlt" src="~/repository/MinusIcon.jpg" class="plusMinusIconHide" height="20" width="20"
         onclick="plusMinusIconClick('RoboticsResourcesIcon', 'RoboticsResourcesIconAlt', 'RoboticsResources')" />
    &nbsp;
    Robotics
    <br />
    <br />

    <div id="RoboticsResources" class="resourcesHide">
        <a href="https://www.dprg.org/">DPRG</a>
        <br />
        <br />

        <a href="https://spectrum.ieee.org/topic/robotics/#toggle-gdpr">IEEE Spectrum</a>
        <br />
        <br />

        <a href="https://www.sciencedaily.com/news/computers_math/robotics/">Science Daily</a>
        <br />
        <br />

        <a href="https://techxplore.com/robotics-news/">Tech Xplore</a>
        <br />
        <br />

        <a href="https://news.mit.edu/topic/robotics">MIT</a>
        <br />
        <br />

        <a href="https://www.wired.com/tag/robotics/">Wired</a>
        <br />
        <br />

        <a href="https://www.therobotreport.com/robotics-news/">The Robot Report</a>
    </div>
    <br />

    <img id="QuantumComputingResourcesIcon" src="~/repository/PlusIcon.jpg" class="plusMinusIconShow" height="20" width="20"
         onclick="plusMinusIconClick('QuantumComputingResourcesIcon', 'QuantumComputingResourcesIconAlt', 'QuantumComputingResources')" />
    <img id="QuantumComputingResourcesIconAlt" src="~/repository/MinusIcon.jpg" class="plusMinusIconHide" height="20" width="20"
         onclick="plusMinusIconClick('QuantumComputingResourcesIcon', 'QuantumComputingResourcesIconAlt', 'QuantumComputingResources')" />
    &nbsp;
    Quantum Computing
    <br />
    <br />

    <div id="QuantumComputingResources" class="resourcesHide">
        <a href="https://www.sciencedaily.com/news/computers_math/quantum_computers/">Science Daily</a>
        <br />
        <br />

        <a href="https://phys.org/tags/quantum+computing/">Phys.org</a>
        <br />
        <br />

        <a href="https://news.mit.edu/topic/quantum-computing">MIT</a>
        <br />
        <br />

        <a href="https://www.wired.com/tag/quantum-computing/">Wired</a>
        <br />
        <br />

        <a href="https://scitechdaily.com/tag/quantum-computing/">SciTech Daily</a>
    </div>
    <br />

    <img id="ComputationalNanotechnologyResourcesIcon" src="~/repository/PlusIcon.jpg" class="plusMinusIconShow" height="20" width="20"
         onclick="plusMinusIconClick('ComputationalNanotechnologyResourcesIcon', 'ComputationalNanotechnologyResourcesIconAlt', 'ComputationalNanotechnologyResources')" />
    <img id="ComputationalNanotechnologyResourcesIconAlt" src="~/repository/MinusIcon.jpg" class="plusMinusIconHide" height="20" width="20"
         onclick="plusMinusIconClick('ComputationalNanotechnologyResourcesIcon', 'ComputationalNanotechnologyResourcesIconAlt', 'ComputationalNanotechnologyResources')" />
    &nbsp;
    Computational Nanotechnology
    <br />
    <br />

    <div id="ComputationalNanotechnologyResources" class="resourcesHide">
        <a href="https://phys.org/nanotech-news/">Phys.org</a>
        <br />
        <br />

        <a href="https://www.nature.com/subjects/computational-nanotechnology">Nature</a>
    </div>
    <br />

    <img id="MathematicsResourcesIcon" src="~/repository/PlusIcon.jpg" class="plusMinusIconShow" height="20" width="20"
         onclick="plusMinusIconClick('MathematicsResourcesIcon', 'MathematicsResourcesIconAlt', 'MathematicsResources')" />
    <img id="MathematicsResourcesIconAlt" src="~/repository/MinusIcon.jpg" class="plusMinusIconHide" height="20" width="20"
         onclick="plusMinusIconClick('MathematicsResourcesIcon', 'MathematicsResourcesIconAlt', 'MathematicsResources')" />
    &nbsp;
    Mathematics
    <br />
    <br />

    <div id="MathematicsResources" class="resourcesHide">
        <a href="https://phys.org/science-news/mathematics/">Phys.org</a>
        <br />
        <br />

        <a href="https://www.sciencedaily.com/news/computers_math/mathematics/">Science Daily</a>
        <br />
        <br />

        <a href="https://www.wired.com/tag/mathematics/">Wired</a>
        <br />
        <br />

        <a href="https://www.quantamagazine.org/">Quanta Magazine</a>
        <br />
        <br />

        <a href="https://www.scientificamerican.com/math/">Scientific American</a>
        <br />
        <br />

        <a href="https://www.sciencenews.org/topic/math">Science News</a>
        <br />
        <br />

        <a href="https://www.nytimes.com/topic/subject/mathematics">New York Times</a>
        <br />
        <br />

        <a href="https://scitechdaily.com/tag/mathematics/">SciTech Daily</a>
        <br />
        <br />

        <a href="https://www.newscientist.com/article-topic/mathematics/">NewScientist</a>
        <br />
        <br />

        <a href="https://news.mit.edu/topic/mathematics">MIT</a>
    </div>
    <br />

    <img id="ScienceResourcesIcon" src="~/repository/PlusIcon.jpg" class="plusMinusIconShow" height="20" width="20"
         onclick="plusMinusIconClick('ScienceResourcesIcon', 'ScienceResourcesIconAlt', 'ScienceResources')" />
    <img id="ScienceResourcesIconAlt" src="~/repository/MinusIcon.jpg" class="plusMinusIconHide" height="20" width="20"
         onclick="plusMinusIconClick('ScienceResourcesIcon', 'ScienceResourcesIconAlt', 'ScienceResources')" />
    &nbsp;
    Science
    <br />
    <br />

    <div id="ScienceResources" class="resourcesHide">
        <a href="https://phys.org/physics-news/">Phys.org Physics News</a>
        <br />
        <br />

        <a href="https://phys.org/chemistry-news/">Pys.org Chemistry News</a>
        <br />
        <br />

        <a href="https://phys.org/biology-news/">Pys.org Biology News</a>
        <br />
        <br />

        <a href="https://phys.org/earth-news/">Phys.org Earth Science News</a>
    </div>
    <br />

    <img id="EngineeringResourcesIcon" src="~/repository/PlusIcon.jpg" class="plusMinusIconShow" height="20" width="20"
         onclick="plusMinusIconClick('EngineeringResourcesIcon', 'EngineeringResourcesIconAlt', 'EngineeringResources')" />
    <img id="EngineeringResourcesIconAlt" src="~/repository/MinusIcon.jpg" class="plusMinusIconHide" height="20" width="20"
         onclick="plusMinusIconClick('EngineeringResourcesIcon', 'EngineeringResourcesIconAlt', 'EngineeringResources')" />
    &nbsp;
    Engineering
    <br />
    <br />

    <div id="EngineeringResources" class="resourcesHide">
        <a href="https://www.sciencedaily.com/news/matter_energy/engineering/">Science Daily</a>
        <br />
        <br />

        <a href="https://techxplore.com/engineering-news/">Tech Xplore</a>
        <br />
        <br />

        <a href="https://www.scientificamerican.com/engineering/">Scientific American</a>
        <br />
        <br />

        <a href="https://www.wired.com/tag/engineering/">Wired</a>
        <br />
        <br />

        <a href="https://interestingengineering.com/">Interesting Engineering</a>
        <br />
        <br />

        <a href="https://www.newscientist.com/article-topic/engineering/">NewScientist</a>
    </div>
    <br />

    <img id="SpaceResourcesIcon" src="~/repository/PlusIcon.jpg" class="plusMinusIconShow" height="20" width="20"
         onclick="plusMinusIconClick('SpaceResourcesIcon', 'SpaceResourcesIconAlt', 'SpaceResources')" />
    <img id="SpaceResourcesIconAlt" src="~/repository/MinusIcon.jpg" class="plusMinusIconHide" height="20" width="20"
         onclick="plusMinusIconClick('SpaceResourcesIcon', 'SpaceResourcesIconAlt', 'SpaceResources')" />
    &nbsp;
    Space
    <br />
    <br />

    <div id="SpaceResources" class="resourcesHide">
        <a href="https://phys.org/space-news/">Pys.org</a>
    </div>
</div>

<script>
    function plusMinusIconClick(plusIconId, minusIconId, resourcesId) {
        var plusIcon = document.getElementById(plusIconId);
        var minusIcon = document.getElementById(minusIconId);
        var resourcesLinks = document.getElementById(resourcesId);

        if (plusIcon.className == "plusMinusIconHide") {
            plusIcon.className = "plusMinusIconShow";
            minusIcon.className = "plusMinusIconHide";
            resourcesLinks.className = "resourcesHide";
        }
        else {
            plusIcon.className = "plusMinusIconHide";
            minusIcon.className = "plusMinusIconShow";
            resourcesLinks.className = "resourcesShow";
        }
    }
</script>
