@{
    ViewData["Title"] = "Home";
}

<div class="content">
    <p>Machine Programs is dedicated to providing utility software, meaning the software provides functionality needed for everyday tasks.</p>
    <p>
        Browse STEM projects and software to observe the expertise of the Machine Programs organization.
    </p>
    <p>For any questions, please contact me at <a href="mailto:paulelling@yahoo.com">paulelling@yahoo.com</a>.</p>
</div>
