@{
    ViewData["Title"] = "Home";
}

<div class="content">
    <p>Hello, my name is Paul Elling.</p>
    <p>This website is dedicated to the work I have done in my career, education, projects, and research efforts.</p>
    <p>
        I have been interested in technology since I was a kid.
        For over 25 years, I have worked as a software developer.  
        In my spare time, I research leadership, like to write, and draw pictures.
    </p>
    <p>For any questions, please contact me at <a href="mailto:paulelling@yahoo.com">paulelling@yahoo.com</a>.</p>
</div>
